<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"
      rel="stylesheet"
    />
    <title>BikeShop - Shop</title>
    <script
      src="https://kit.fontawesome.com/0b161baaff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- header -->
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar" href="/">
        <img
          src="images/bike-logo.svg"
          width="50"
          height="50"
          class="logo"
          alt=""
        />
        The Bike Shop Experience
      </a>
    </nav>
    <% if(dataCardBike.length > 0){ %>
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Basket</li>
            </ol>
          </nav>
        </div>
      </div>

      <h1>Basket</h1>
      <div class="row">
        <div class="col-12">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Picture</th>
                <th scope="col">Model</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% let total = 0; dataCardBike.forEach(function(data){ %>
              <tr>
                <th scope="row">1</th>
                <td>
                  <img src=<%= `images/${data.imageURL}` %> class="card-img-top
                  col-img" alt="Bike1">
                </td>
                <td><%= data.model %></td>
                <td>
                  <form method="POST" action="/update-shop">
                    <div class="input-group mb-3">
                      <input
                        type="hidden"
                        name="model"
                        value="<%= data.model %>"
                      />
                      <input
                        type="number"
                        class="form-control"
                        value="<%= data.quantity %>" name="quantity" 
                      />
                      <button type="submit" class="input-group-text">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                    </div>
                  </form>
                </td>
                <td><%= `${data.price}` %> Є</td>
                <td><%= data.price * data.quantity %> Є</td>
                <td>
                  <a
                    class="btn btn-danger"
                    href="/delete-shop?model=<%=data.model%>"
                    ><i class="fa-solid fa-trash-can"></i
                  ></a>
                </td>
              </tr>
              <% total += data.price * data.quantity }) %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-2 offset-sm-9">
          <% if(promo > 0){ %>
            <p style="color:red"><strong>Total Basket: </strong><strike><%= total.toFixed(2) %> Є</strike></p>
            <p><strong>Total Basket: </strong><%= (total - (total * promo)).toFixed(2) %> Є</p>
          <% }else{ %>
            <p><strong>Total Basket: </strong><%= total.toFixed(2)  %> Є</p>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-1 offset-sm-8">
          <a href="/destroy" type="button" class="btn btn-danger">Vider mon panier</a>
        </div>
        <div class="col-12 col-sm-1 ">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            CODE PROMO ?
          </button>
        </div>
        <div class="col-12 col-sm-1">
          <a href="" type="button" class="btn btn-success">Checkout</a>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="alert alert-danger mt-5" role="alert">
      VOTRE PANIER EST TOTALEMENT VIDE !!!!
    </div>
    <% } %>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CODE PROMO </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/promo" method="POST">
          <div class="mb-3">
            <input type="text" class="form-control" name="promo" placeholder="add your coupon code ?">
          </div>
          <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
      </div>
    </div>
  </div>
</div>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
